In [9]:
#perjumlahan

a, b = 10,3

print(a+b)

#perkurangan
print(a-b)

#perkaliam
print(a*b)

#divisi
print(a/b)

#modulus
print(a%b)

#eksponen
print(a**b)

#florr division
print(a//b)

13
7
30
3.3333333333333335
1
1000
3

In [12]:
a = 10
print('a = 10 -> ', a)
a + 5
print('a += 5 -> ', a)
a -= 3
print('a -= 3 -> ', a)
a *= 6
print('a *= 6 -> ', a)
a /= 8
print('a /= 8 -> ', a)

a = 10 ->  10
a += 5 ->  10
a -= 3 ->  7
a *= 6 ->  42
a /= 8 ->  5.25

In [13]:
print (2*3**3+10/10)

55.0

In [16]:
#perbadingan 
a, b = 5, 10
print(a, '>', b, '=', a > b)
print(a, '<', b, '=', a < b)
print(a, '==', b, '=', a == b)
print(a, '!=', b, '=', a != b)
print(a, '>=', b, '=', a >= b)
print(a, '<=', b, '=', a <= b)

5 > 10 = False
5 < 10 = True
5 == 10 = False
5 != 10 = True
5 >= 10 = False
5 <= 10 = True

In [32]:
#latihan 2 
print('400<100=',400<100)
print('10 x 2 = 20',10*2==20)
print('50>10=',50>10)
print('50 x 2 != 100',50*2 !=200)
print('2 x 3 x 4 >= 24', 2*3*4 >= 24)

400<100= False
10 x 2 = 20 True
50>10= True
50 x 2 != 100 True
2 x 3 x 4 >= 24 True

In [39]:
#operator logika 

a < 5 and b < 10
nilai_1 = True 
nilai_2 = False 
nilai_3 = True
print( "nilai_1 dan nilai_2 = " + str(nilai_1 and nilai_2))

nilai_1 dan nilai_2 = False

In [44]:
murah = True 
diskon = True 
tidak_murah = False 
print("murah dan diskon = " + str(murah and diskon))
print("tidak murah = " + str(not murah and not diskon))

murah dan diskon = True
tidak murah = False

In [46]:
a = 5 
b = 5
list_a = [1, 2, 3]
list_b = [1, 2, 3]
nama_a = 'budi'
nama_b = 'budi'

# output True 
print('a is b:' ,a is b)
# output False
print('a is not b:', a is not b)

# output False 
print('list_a is list_b: ',list_a is list_b)
# output True
print('list_a == nama_b: ',list_a == list_b)

# output True 
print('nama_a is nama_b: ', nama_a is nama_b)
#output False
print('nama_a is not nama_b: ',nama_a is not nama_b)

a is b: True
a is not b: False
list_a is list_b:  False
list_a == nama_b:  True
nama_a is nama_b:  True
nama_a is not nama_b:  False

In [48]:
#example 

bahasa_1 = 'inggris'
bahasa_2 = 'indonesia'

#output False 
print('bahasa_1 is bahasa_2:', bahasa_1 is bahasa_2)

bahasa_1 is bahasa_2: False

In [50]:
perusahaan = 'microsoft'
list_pulau = ['jawa' , 'sumatra' , 'sulawesi']

mahasiswa = {
    'nama' : 'lendis febri',
    'asal' : 'lamongan'
}

print(
    "apakah 'c' ada di variavel perusahaan?",'c' in perusahaan)

print(
    "apakah 'z' tidak ada di variabel perusahaan?" ,'c' not in perusahaan)

apakah 'c' ada di variavel perusahaan? True
apakah 'z' tidak ada di variabel perusahaan? False

In [53]:
>>> # biner dari angka 0
>>> # biner dari angka 1
>>> # biner dari angka 2
>>> # biner dari angka 37

>>> print(format(0, '08b'))
>>> print(format(1, '08b'))
>>> print(format(2, '08b'))
>>> print(format(37, '08b'))

00000000
00000001
00000010
00100101

In [54]:
#latihan terakhir

#biner dari angka 104
print('huruf h:',format(104, '08b'))
#biner dari angka 101
print('huruf e:',format(101, '08b'))
#biner dari angka 108
print('huruf l:',format(108, '08b'))
#biner dari angka 108
print('huruf l:',format(108, '08b'))
#biner dari angka 111
print('huruf o:',format(111,'08b'))

huruf h: 01101000
huruf e: 01100101
huruf l: 01101100
huruf l: 01101100
huruf o: 01101111